

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.past {
  background-color: #d3d3d3;
  color: #000000;
}

.present {
  background-color: #ff6961;
  color: #000000;
}

.future {
  background-color: #77dd77;
  color: #000000;
}

